.logo {
  text-align: center;
  padding-top: 25px;
  font-size: 2rem;
}
.imageStyle {
  border-radius: 20px;
}
.badge {
  font-size: 12px;
  margin-top: 6px;
  margin-right: -64px;
  background-color: #193D88 !important;
  color: #ffffff;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  padding: 0px 12px 17px 6px;
}
.dashboardIcon:hover {
  background-color: #7D48B1;
  cursor: pointer;
  border-radius: 5px;
}
.listActive {
  background-color: #7D48B1;
}
.sidebarText {
  margin-left: -25px;
}
.titleStyle {
  font-size: 17px;
  color: #43454D;
}